* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Lora', serif;
}
h1 {
  margin: 20px 0;
  font-size: 1.75em;
  text-align: center;
}
p {
  border: 1px solid black;
  background-color: #A52A2A;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.content-block {
  display: block;
  position: relative;
  border: 2px solid #000;
  background-color: #e4fff93d;
}
.content {
  display: block;
  padding: 10px;
}
.title {
  display: block;
  text-align: right;
  font-size: 1.75em;
  padding: 5px 0;
}
.title span {
  color: #fff;
  font-weight: bold;
  padding: 5px 30px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}
#chicken span {
  background-color: #A52A2A;
}
#beef span{
  background-color: #1771F1;
}
#sushi span{
  background-color: #00CF91;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    padding: 10px;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    padding: 10px;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .col-sm-6, .col-sm-12 {
    float: left;
    padding: 10px;
  }
  .col-sm-6 {
    width: 50%;
    margin-bottom: 20px;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .col-xs-12 {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
}