* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Lora', serif;
}

/** HEADER **/
#header-nav {
  background-color: #8EAF0C;
  border-radius: 0;
  border: 0;
}
#navbar-main {
  position: relative;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
}
#navbar-main .nav.navbar-nav,
#navbar-main .nav.navbar-nav > li {
  display: block;
  width: 100%;
  background-color: #fff;
  margin: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  text-align: center;
}
#navbar-main .nav.navbar-nav > li {
  border-bottom: 1px solid #000;
}
#main-content .title {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 20px;
}
.content {
  background-color: #8EAF0C;
  padding: 10px 20px;
  min-height: 700px;
}
.content .text-center {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
  color: #F1F2F2;
}
.navbar-brand h1 { 
  color: #F1F2F2;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.back {
  text-decoration: underline;
  color: #F1F2F2;
  transition: color .3s ease;
  cursor: pointer;
}
.back:hover {
  color: #000;
}
.navbar-header button.navbar-toggle.collapsed .icon-bar,
.navbar-default .navbar-toggle.collapsed {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
  position: absolute;
  right: 0;
}
.navbar-header button.navbar-toggle .icon-bar,
.navbar-default .navbar-toggle {
  border: 1px solid #fff;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover  {
  background-color: unset;
}
/* END HEADER */

/* HOME PAGE */
#chiken-tile, 
#beef-tile,
#sushi-tile {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
/* END HOME PAGE */

@media (min-width: 768px) {
  .navbar-nav {
    display: none!important;
  }
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
  }
  /* End Header */
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { 
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
}